openapi: 3.2.0
info:
  title: Cuboh Integration Webhooks API
  description: Partner-gated integration API for Cuboh, a restaurant online-ordering management platform.
  termsOfService: https://www.cuboh.com/
  contact:
    name: Cuboh Integrations
    email: integrations@cuboh.com
  version: '2.0'
servers:
- url: https://core.cuboh.net
  description: Production server
- url: https://core-staging.cuboh.net
  description: Staging / development server
security:
- ApiKeyAuth: []
tags:
- name: Webhooks
  description: Signed event notifications delivered to partner-hosted URLs.
paths: {}
webhooks:
  orderActions:
    post:
      tags:
      - Webhooks
      summary: Order Actions
      description: Cuboh notifies the partner when a restaurant accepts, completes, cancels, or adjusts an order. Delivered to the partner's configured Orders webhook URL and signed with X-Cuboh-Signature (HMAC-SHA256).
      responses:
        '200':
          description: Event acknowledged with an empty body.
  merchantIntegration:
    post:
      tags:
      - Webhooks
      summary: Merchant Integration
      description: Cuboh notifies the partner of new and closed merchant integrations (event_type merchant.new / merchant.close). Delivered to the partner's configured Merchant webhook URL.
      responses:
        '200':
          description: Event acknowledged with an empty body.
  menuManagement:
    post:
      tags:
      - Webhooks
      summary: Menu Management
      description: Cuboh notifies the partner of menu retrieval, push, and item/modifier status changes. Delivered to the partner's configured Menu webhook URL.
      responses:
        '200':
          description: Event acknowledged with an empty body.
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: Authorization
      description: 'Partner integration token supplied by Cuboh, sent as `Authorization: Token <your token>`. Tokens are unique per partner and a single token authenticates all endpoints.'
