openapi: 3.2.0
info:
  title: Cuboh Integration Webhooks API
  description: 'Partner-gated integration API for Cuboh, a restaurant online-ordering management platform. This document consolidates the publicly documented surface of Cuboh''s Direct API (v2.0) and Connect API (v0.1) covering orders, menus, merchant locations, and webhooks.


    Access is not self-serve. Cuboh provisions an integration token to approved technology partners during onboarding and QA certification (contact integrations@cuboh.com). Requests authenticate with an Authorization header in the form `Token <your token>`; tokens are unique per partner and a single token works across all endpoints. Cuboh delivers events to partner-hosted webhook URLs, signed with an X-Cuboh-Signature HMAC-SHA256 header.


    Endpoint paths, methods, base URL, and the authentication scheme below are transcribed from Cuboh''s published OpenAPI documents at https://docs.cuboh.com/direct and https://docs.cuboh.com/connect. Request and response schemas are not reproduced here; consult the Cuboh documentation for full payload definitions.'
  termsOfService: https://www.cuboh.com/
  contact:
    name: Cuboh Integrations
    email: integrations@cuboh.com
  version: '2.0'
servers:
- url: https://core.cuboh.net
  description: Production server
- url: https://core-staging.cuboh.net
  description: Staging / development server
security:
- ApiKeyAuth: []
tags:
- name: Webhooks
  description: Signed event notifications delivered to partner-hosted URLs.
paths: {}
webhooks:
  orderActions:
    post:
      tags:
      - Webhooks
      summary: Order Actions
      description: Cuboh notifies the partner when a restaurant accepts, completes, cancels, or adjusts an order. Delivered to the partner's configured Orders webhook URL and signed with X-Cuboh-Signature (HMAC-SHA256).
      responses:
        '200':
          description: Event acknowledged with an empty body.
  merchantIntegration:
    post:
      tags:
      - Webhooks
      summary: Merchant Integration
      description: Cuboh notifies the partner of new and closed merchant integrations (event_type merchant.new / merchant.close). Delivered to the partner's configured Merchant webhook URL.
      responses:
        '200':
          description: Event acknowledged with an empty body.
  menuManagement:
    post:
      tags:
      - Webhooks
      summary: Menu Management
      description: Cuboh notifies the partner of menu retrieval, push, and item/modifier status changes. Delivered to the partner's configured Menu webhook URL.
      responses:
        '200':
          description: Event acknowledged with an empty body.
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: Authorization
      description: 'Partner integration token supplied by Cuboh, sent as `Authorization: Token <your token>`. Tokens are unique per partner and a single token authenticates all endpoints.'
