openapi: 3.2.0
info:
  title: Cuboh Integration Orders API
  description: Partner-gated integration API for Cuboh, a restaurant online-ordering management platform.
  termsOfService: https://www.cuboh.com/
  contact:
    name: Cuboh Integrations
    email: integrations@cuboh.com
  version: '2.0'
servers:
- url: https://core.cuboh.net
  description: Production server
- url: https://core-staging.cuboh.net
  description: Staging / development server
security:
- ApiKeyAuth: []
tags:
- name: Orders
  description: Order creation, retrieval, and lifecycle actions.
paths:
  /api/v2/external-integration/order:
    post:
      tags:
      - Orders
      summary: Order Creation
      description: Create a new order for a merchant (Direct API).
      responses:
        '200':
          description: Order created.
      operationId: postApiV2ExternalIntegrationOrder
      x-operation-id-source: derived
    get:
      tags:
      - Orders
      summary: Order List
      description: List orders (Direct API).
      responses:
        '200':
          description: A list of orders.
      operationId: getApiV2ExternalIntegrationOrder
      x-operation-id-source: derived
  /api/v2/external-integration/order/{order_id}:
    get:
      tags:
      - Orders
      summary: Order
      description: Retrieve a single order by its identifier (Direct API).
      parameters:
      - name: order_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: The requested order.
      operationId: getApiV2ExternalIntegrationOrderByOrderId
      x-operation-id-source: derived
  /api/v2/external-integration/order/{order_id}/cancel:
    post:
      tags:
      - Orders
      summary: Cancel Order
      description: Cancel a single order (Direct API).
      parameters:
      - name: order_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Order canceled.
      operationId: postApiV2ExternalIntegrationOrderByOrderIdCancel
      x-operation-id-source: derived
  /api/v2/external-integration/order-group/{order_group_id}/cancel:
    post:
      tags:
      - Orders
      summary: Cancel Group Order
      description: Cancel a group of orders (Direct API).
      parameters:
      - name: order_group_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Order group canceled.
      operationId: postApiV2ExternalIntegrationOrderGroupByOrderGroupIdCancel
      x-operation-id-source: derived
  /cuboh-connect-order/{order_id}/accept/:
    post:
      tags:
      - Orders
      summary: Accept Order
      description: Accept an order (Connect API).
      parameters:
      - name: order_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Order accepted.
      operationId: postCubohConnectOrderByOrderIdAccept
      x-operation-id-source: derived
  /cuboh-connect-order/{order_id}/complete/:
    post:
      tags:
      - Orders
      summary: Complete Order
      description: Mark an order as complete / ready (Connect API).
      parameters:
      - name: order_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Order completed.
      operationId: postCubohConnectOrderByOrderIdComplete
      x-operation-id-source: derived
  /cuboh-connect-order/{order_id}/cancel/:
    post:
      tags:
      - Orders
      summary: Cancel Order
      description: Cancel an order (Connect API).
      parameters:
      - name: order_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Order canceled.
      operationId: postCubohConnectOrderByOrderIdCancel
      x-operation-id-source: derived
  /cuboh-connect-order/{order_id}/refund/:
    post:
      tags:
      - Orders
      summary: Refund Order
      description: Refund an order (Connect API).
      parameters:
      - name: order_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Order refunded.
      operationId: postCubohConnectOrderByOrderIdRefund
      x-operation-id-source: derived
  /cuboh-connect-order/{order_id}/upcharge/:
    post:
      tags:
      - Orders
      summary: Upcharge Order
      description: Apply an upcharge to an order (Connect API).
      parameters:
      - name: order_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Order upcharged.
      operationId: postCubohConnectOrderByOrderIdUpcharge
      x-operation-id-source: derived
  /cuboh-connect-order/{order_id}/details/:
    get:
      tags:
      - Orders
      summary: Get Order Details
      description: Retrieve full details for an order (Connect API).
      parameters:
      - name: order_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Order details.
      operationId: getCubohConnectOrderByOrderIdDetails
      x-operation-id-source: derived
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: Authorization
      description: 'Partner integration token supplied by Cuboh, sent as `Authorization: Token <your token>`. Tokens are unique per partner and a single token authenticates all endpoints.'
