openapi: 3.2.0
info:
  title: Cuboh Integration Menu API
  description: Partner-gated integration API for Cuboh, a restaurant online-ordering management platform.
  termsOfService: https://www.cuboh.com/
  contact:
    name: Cuboh Integrations
    email: integrations@cuboh.com
  version: '2.0'
servers:
- url: https://core.cuboh.net
  description: Production server
- url: https://core-staging.cuboh.net
  description: Staging / development server
security:
- ApiKeyAuth: []
tags:
- name: Menu
  description: Menu retrieval, push, creation, update, and validation.
paths:
  /api/v2/external-integration/merchant/{external_integration_merchant_uuid}/menus:
    post:
      tags:
      - Menu
      summary: New Menu
      description: Create a new menu for a merchant (Connect API).
      parameters:
      - name: external_integration_merchant_uuid
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Menu created.
      operationId: postApiV2ExternalIntegrationMerchantByExternalIntegrationMerchantUuidMenus
      x-operation-id-source: derived
    get:
      tags:
      - Menu
      summary: Find Menus
      description: List menus for a merchant (Connect API).
      parameters:
      - name: external_integration_merchant_uuid
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: A list of menus.
      operationId: getApiV2ExternalIntegrationMerchantByExternalIntegrationMerchantUuidMenus
      x-operation-id-source: derived
    patch:
      tags:
      - Menu
      summary: Update Menu
      description: Update a merchant menu (Connect API).
      parameters:
      - name: external_integration_merchant_uuid
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Menu updated.
      operationId: patchApiV2ExternalIntegrationMerchantByExternalIntegrationMerchantUuidMenus
      x-operation-id-source: derived
  /api/v2/external-integration/merchant/{external_integration_merchant_uuid}/menus/{external_menu_id}:
    get:
      tags:
      - Menu
      summary: Find Single Menu
      description: Retrieve a single merchant menu by external menu id (Connect API).
      parameters:
      - name: external_integration_merchant_uuid
        in: path
        required: true
        schema:
          type: string
      - name: external_menu_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: The requested menu.
      operationId: getApiV2ExternalIntegrationMerchantByExternalIntegrationMerchantUuidMenusByExternalMenuId
      x-operation-id-source: derived
  /api/v2/external-integration/merchant/{external_integration_merchant_uuid}/validate/{external_menu_id}:
    post:
      tags:
      - Menu
      summary: Validate Menu
      description: Trigger validation of a merchant menu (Connect API).
      parameters:
      - name: external_integration_merchant_uuid
        in: path
        required: true
        schema:
          type: string
      - name: external_menu_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Validation initiated.
      operationId: postApiV2ExternalIntegrationMerchantByExternalIntegrationMerchantUuidValidateByExternalMenuId
      x-operation-id-source: derived
    get:
      tags:
      - Menu
      summary: Validate Menu (status)
      description: Retrieve menu validation status (Connect API).
      parameters:
      - name: external_integration_merchant_uuid
        in: path
        required: true
        schema:
          type: string
      - name: external_menu_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Validation status.
      operationId: getApiV2ExternalIntegrationMerchantByExternalIntegrationMerchantUuidValidateByExternalMenuId
      x-operation-id-source: derived
  /api/v2/external-integration/merchant/{external_integration_merchant_uuid}/item/status-update:
    post:
      tags:
      - Menu
      summary: Item Status Update
      description: Update item and modifier availability status for a merchant (Connect API).
      parameters:
      - name: external_integration_merchant_uuid
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Item status updated.
      operationId: postApiV2ExternalIntegrationMerchantByExternalIntegrationMerchantUuidItemStatusUpdate
      x-operation-id-source: derived
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: Authorization
      description: 'Partner integration token supplied by Cuboh, sent as `Authorization: Token <your token>`. Tokens are unique per partner and a single token authenticates all endpoints.'
