openapi: 3.2.0
info:
  title: Cuboh Integration Locations API
  description: Partner-gated integration API for Cuboh, a restaurant online-ordering management platform.
  termsOfService: https://www.cuboh.com/
  contact:
    name: Cuboh Integrations
    email: integrations@cuboh.com
  version: '2.0'
servers:
- url: https://core.cuboh.net
  description: Production server
- url: https://core-staging.cuboh.net
  description: Staging / development server
security:
- ApiKeyAuth: []
tags:
- name: Locations
  description: Merchant (location) status and integration completion.
paths:
  /api/v2/external-integration/merchant/{external_integration_merchant_uuid}/status:
    post:
      tags:
      - Locations
      summary: Complete Merchant Integration
      description: Report that a merchant (location) integration is complete. Documented on both the Direct and Connect APIs.
      parameters:
      - name: external_integration_merchant_uuid
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Merchant integration completed.
      operationId: postApiV2ExternalIntegrationMerchantByExternalIntegrationMerchantUuidStatus
      x-operation-id-source: derived
  /api/v2/external-integration/merchant/{external_integration_merchant_uuid}/orders:
    get:
      tags:
      - Locations
      summary: Get Orders
      description: Retrieve orders for a merchant (location) (Connect API).
      parameters:
      - name: external_integration_merchant_uuid
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: A list of merchant orders.
      operationId: getApiV2ExternalIntegrationMerchantByExternalIntegrationMerchantUuidOrders
      x-operation-id-source: derived
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: Authorization
      description: 'Partner integration token supplied by Cuboh, sent as `Authorization: Token <your token>`. Tokens are unique per partner and a single token authenticates all endpoints.'
